<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="Page Description Here">
  <link rel="icon" href="assets/media/images/logos/cyclone-favicon.gif" type="image/gif">
  <link rel="stylesheet" href="css/cyclone-reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/script.js" defer></script>
</head>
<body>
  <header>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
  </header>
  <main>
    <h2>Page Title</h2>
  </main>
  <footer>
    <p id="footnote">© <span id='footerYear'></span> Cyclone Studios™. All Rights Reserved</p>
    <div id="cycloneContainer">
      <p id="poweredBy">Powered By</p>
      <a href="https://cyclonestud.io/" id="cycloneLink" target="_blank" rel="noopener">
        <picture id="cycloneStudios"><img src="assets/media/images/logos/cycloneStudios.svg" alt="Cyclone Studios Logo"></picture>
      </a>
    </div>
  </footer>
</body>
</html>